<div class="container">

<% if member_signed_in? %>
	<h1> Welcome, Now you are logged in </h1>
	Username is <b><%= current_member.username %></b>
	<h5><%= link_to "Change Your Password",edit_member_registration_path %></h5>

<p>Ruby on Rails, or Rails, is a server-side web application framework written in Ruby under the MIT License. Rails is a model–view–controller (MVC) framework, providing default structures for a database, a web service, and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS and JavaScript for display and user interfacing. In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, including convention over configuration (CoC), don't repeat yourself (DRY), and the active record pattern.</p>


	<h3><%= link_to "Sign Out",destroy_member_session_path %></h3>
</div>
	<% else %>
	<h1> Please login to continue </h1>
	<p><%= link_to "Sign Up",new_member_registration_path %></p>
	<a href="/auth/google_oauth2">Sign in with Google</a>
<% end %>

