<% if current_user %>
	<% current_user.attributes.each do |k, v| %>
		<b><%= k %>:</b> <%= v %> <br>
	<% end %><br><br>
<strong>You have signed with google</strong>

<% end %>

<h1><%= link_to "LogOut",sessions_destroy_path %></h1>
