
<div class="container">
<% if current_user %>
<table class="table">
	<% current_user.attributes.each do |k, v| %>
		<b><%= k %>:</b> <%= v %> <br>
	<% end %><br><br>
<h3>You have signed with <strong>Google</strong></h3>

<% end %>
</table>


<h1><%= link_to "LogOut",sessions_destroy_path,:class => 'btn btn-large btn-danger' %></h1>
</div>