.container{
    width:300px;
    align: left;
}


.panel-heading{
    width:270px;
    color: red;
    text-align:center;
}

.form-group{
    width:200px;
}










/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require devise_bootstrap_views

 *= require_tree .
*/
